.draggable{
  background:red;
  height:50px;
  width:50px;
  position:absolute;
  top:0;
  bottom:0;
}


*[class*="top"]{
  top: -3px;
}

*[class*="bottom"]{
  bottom: -3px;
}

*[class*="left"]{
  left: -3px;
}

*[class*="right"]{
  right: -3px;
}


*[class*="boundary"]{
  position:absolute;
  height:100%;
  width:100%;
}

*[class*="bottom"], *[class*="top"]{
  height:6px;
}


*[class*="bottom"]:hover, *[class*="top"]:hover{
  cursor: ns-resize;
}

*[class*="left"], *[class*="right"]{
  width:6px;
  /* cursor: ew-resize; */
}

*[class*="left"]:hover, *[class*="right"]:hover{
  cursor: ew-resize;
}

*[class*='bottom-left']:hover, *[class*='top-right']:hover{
  cursor: nesw-resize;
}

*[class*='top-left']:hover, *[class*='bottom-right']:hover{
  cursor: nwse-resize;
}



.obstacle{
  position: absolute;
  background: green;
  top: 200px;
  left: 200px;
  height: 40px;
  width: 40px;
}

#content{
  position:absolute;
}

#toolbar{
  background: gray;
}

.selected{
  /* animation: selected 1s linear infinite; */
  outline: 2px solid blue;
  outline-offset: -2px;
}

@keyframes selected {
  0%{outline-color: transparent}
  50%{outline-color: blue}
  100%{outline-color: transparent}
}

div:focus{
  background:blue;
}
