#slider{
  background: linear-gradient(to bottom,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
  height: 260px;
  width: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin:20px;
}

#dragger, #dragger2{
  position:absolute;
  height: 18px;
  width: 18px;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

#dragger2{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  box-shadow: 3px 2px 3px rgba(0,0,0,.3);
}

#dragger{
  bottom: -15px;
  right: -10px;
  border: 10px solid transparent;
  border-width: 5px 10px;
  height: 10px;
  width: 20px;
  border-right-color: white;
}

#picker{
  position: relative;
  margin: 20px;
}

body{
}


#swatch{
  font-family: 'Courier New';
  color: white;
  width: 100%;
  flex-grow:2;
  padding:10px;
  border-left: 1px solid black;
  box-sizing:border-box;
}

#container{
  border:1px solid black;
  width: 520px;
  background:black;
}
