#slider{
  background: linear-gradient(to right,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
  height: 10px;
  width: 300px;
  border-radius: 5px;
}

#dragger{
  height: 18px;
  width: 18px;
  border-radius: 9px;
  top: -4px;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
}
