/* #slider{
  background: linear-gradient(to bottom,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
  box-sizing: border-box;
  flex-shrink: 0;
  margin:20px;
  border-radius:100px;
} */

#dragger, #dragger2{
  position:absolute;
}

#pip{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  border: 1px solid rgba(255,255,255,.7);
  box-sizing: border-box;
  cursor: pointer;
}

#circlePip{
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  border: 1px solid rgba(255,255,255,.7); */
  box-sizing: border-box;
  cursor: pointer;
}

#picker{
  position: relative;
  margin: 20px;
}

.color{
  border-bottom: 1px solid white;
  display: inline-block;
}

input{
  background: none;
  border: none;
  font-family: 'Roboto Mono', monospace;
  color:inherit;
  font-size:inherit;
  text-align: right;
  margin: 0;
  padding: 0;
  display: inline;
}

input:focus{
  outline: none;
  /* background: rgba(255,255,255,.2) */
}

#swatch{
  font-family: 'Roboto Mono', monospace;
  width: 200px;
  height: 200px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 0 0 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#inputContainer{
}

#container{
  width: 570px;
  /* border: 1px solid #eee;
  border-radius: 5px; */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  background: white; */
}
