/* #slider{
  background: linear-gradient(to bottom,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
  box-sizing: border-box;
  flex-shrink: 0;
  margin:20px;
  border-radius:100px;
} */

#dragger, #dragger2{
  position:absolute;
}

#pip{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.4);
  /* border: 1px solid rgba(255,255,255,.7); */
}

#circlePip{
  /* border: 1px solid rgba(255,255,255,.7); */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.4);
  /* border: 1px solid rgba(255,255,255,.7);
  box-sizing: border-box; */
}

#pip, #circlePip{
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default;
}

#picker{
  position: relative;
  margin: 20px;
}

.color{
  border-bottom: 1px solid white;
  display: inline-block;
}

input{
  border: none;
  font-family: 'Roboto Mono', monospace;
  color:inherit;
  font-size:inherit;
  text-align: center;
  margin: 5px;
  padding: 0;
  display: inline;
  width: 60px;
  background: rgba(255,255,255,.3);
  border-radius: 100px;
  transition: background .3s, color .3s;
}

input:focus{
  outline: none;
  background: white;
  color: black;
  /* background: rgba(255,255,255,.2) */
}

span{
  display: inline;
  transition: color .3s;
}
/* ::selection{
  background: none;
  color: black;
} */

#swatch{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  margin: 0 0 0 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputContainer{
}

#container{
  width: 570px;
  /* border: 1px solid #eee;
  border-radius: 5px; */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  background: white; */
}


.grabbing, .grabbing * {
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur), default !important;
  /* background: black !important; */
}


html,body{
  height: 100%;
  width: 100%;
}


.animate{
  animation-name: animated;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes animated {
  0%{height: 10px; width:10px}
  50%{height: 20px; width:20px}
  100%{height: 10px; width:10px}
}

*{
  flex-shrink: 0
}


.vertical-center{
  display:flex;
  align-items: center;
}
