#slider{
  background: linear-gradient(to bottom,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
  height: 260px;
  width: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin:20px;
  border-radius:100px;
}

#dragger, #dragger2{
  position:absolute;
  box-sizing: border-box;
  cursor: pointer;
}

#dragger2{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

#dragger{
  right: -20px;
  border: 10px solid transparent;
  border-width: 16px 16px;
  height: 10px;
  width: 10px;
  border-right-color: black;
}

#picker{
  position: relative;
  margin: 20px;
}

body{
}


#swatch{
  font-family: 'Courier New';
  color: white;
  width: 100%;
  flex-grow:2;
  padding:10px;
  box-sizing:border-box;
}

#container{
  width: 520px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16)
}
